.playlist-show{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(39, 37, 37);
    color: white;
    width:91vw;
    height: 92vh;
    float: right;
    margin-left: 12vw;
    margin-bottom: 8vh;
}

.playlist-show-header{
    padding-top: 70px;
    background-color:rgb(90, 90, 90);
    padding-left: 25px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.playlist-header-info > p{
    font-size:12px;
    font-weight: 700;
}

.playlist-header-info > h1{
    font-size: 60px;
    font-weight: 900;
}

.main-songs{
    padding-top: 40px;
    display:flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right:25px;
}

.delete-playlist-button{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    font-size: 13px;
    background-color: red;
    margin-bottom: 20px;
}

.main-songs > hr{
    width: 100%;
    color: grey;
    opacity: .2;
}

.song-headers{
    display: flex;
    justify-content: space-between;
    font-weight:500;
    color: grey;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 25px;
}

.title-artist{
    display:flex;
    flex-direction: column;
}

.audio{
    display:none;
}

.song-items{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: flex-start;;
}


