.artist-show{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(39, 37, 37);
    color: white;
    width:91vw;
    height: 92vh;
    float: right;
    display:flex;
    flex-direction: column;
    margin-left: 12vw;
    margin-bottom: 8vh;
}

.artist-show-header{
    padding-top: 70px;
    padding-left: 25px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.artist-show-header > h1{
    font-size: 60px;
    font-weight: 900;
}

