.album-index{
    height: 100%;
    margin-left: 12vw;
    margin-bottom: 8vh;
}

.album-index-main{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;

}

.album-index-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.album-item-section{
    display:flex;
    justify-content: space-evenly;
}